{% extends 'wish/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'wish/styles/bootstrap4/bootstrap.min.css' %}">
<link href="{% static 'wish/plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{% static 'wish/styles/checkout.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'wish/styles/checkout_responsive.css' %}">
{% endblock %}

{% block main %}
	<!-- Home -->

	<div class="home">
		<div class="home_background parallax-window" data-parallax="scroll" data-image-src="{% static 'wish/images/categories.jpg' %}" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="home_container">
						<div class="home_content">
							<div class="home_title">Checkout</div>
							<div class="breadcrumbs">
								<ul>
									<li><a href="index.html">Home</a></li>
									<li><a href="index.html">Shopping Cart</a></li>
									<li>Shopping Cart</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Checkout -->

	<div class="checkout">
		<div class="container">
			<div class="row">

				<!-- Billing Details -->
				<div class="col-lg-6">
					<div class="billing">
						<div class="checkout_title">billing details</div>
						<div class="checkout_form_container">
							<form action="#" id="checkout_form">
								<div class="d-flex flex-lg-row flex-column align-items-start justify-content-between">
									<input type="text" class="checkout_input checkout_input_50" placeholder="First Name" required="required">
									<input type="text" class="checkout_input checkout_input_50" placeholder="Last Name" required="required">
								</div>
								<input type="text" class="checkout_input" placeholder="Company Name">
								<input type="text" class="checkout_input" placeholder="E-mail" required="required">
								<select name="country" id="country" class="country_select checkout_input">
									<option>Country</option>
									<option>Country</option>
									<option>Country</option>
								</select>
								<input type="text" class="checkout_input" placeholder="Address" required="required">
								<input type="text" class="checkout_input" placeholder="Town" required="required">
								<div class="d-flex flex-lg-row flex-column align-items-start justify-content-between">
									<input type="text" class="checkout_input checkout_input_50" placeholder="Zipcode" required="required">
									<input type="text" class="checkout_input checkout_input_50" placeholder="Phone No" required="required">
								</div>
								<textarea name="checkout_comment" id="checkout_comment" class="checkout_comment" placeholder="Leave a comment about your order"></textarea>
								<div class="billing_options">
									<div class="billing_account">
										<input type="checkbox" id="checkbox_account" name="regular_checkbox" class="regular_checkbox checkbox_account">
										<label for="checkbox_account"><img src="{% static 'wish/' %}images/checked.png" alt=""></label>
										<span>Create an account</span>
									</div>
									<div class="billing_shipping">
										<input type="checkbox" id="checkbox_shipping" name="regular_checkbox" class="regular_checkbox checkbox_shipping">
										<label for="checkbox_shipping"><img src="{% static 'wish/' %}images/checked.png" alt=""></label>
										<span>Ship to a different address</span>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>

				<!-- Cart Details -->
				<div class="col-lg-6">
					<div class="cart_details">
						<div class="checkout_title">cart total</div>
						<div class="cart_total">
							<ul>
								<li class="d-flex flex-row align-items-center justify-content-start">
									<div class="cart_total_title">Product</div>
									<div class="cart_total_price ml-auto">Total</div>
								</li>
								<li class="d-flex flex-row align-items-center justify-content-start">
									<div class="cart_total_title">2 Piece Swimsuit x1</div>
									<div class="cart_total_price ml-auto">$35.00</div>
								</li>
								<li class="d-flex flex-row align-items-center justify-content-start">
									<div class="cart_total_title">Subtotal</div>
									<div class="cart_total_price ml-auto">$35.00</div>
								</li>
								<li class="d-flex flex-row align-items-center justify-content-start">
									<div class="cart_total_title">Shipping</div>
									<div class="cart_total_price ml-auto">$5.00</div>
								</li>
								<li class="d-flex flex-row align-items-start justify-content-start total_row">
									<div class="cart_total_title">Total</div>
									<div class="cart_total_price ml-auto">$40.00</div>
								</li>
							</ul>
						</div>
						<div class="payment_options">
							<div>
								<input type="radio" id="radio_payment_1" name="regular_radio" class="regular_radio">
								<label for="radio_payment_1">cash on delivery</label>
							</div>
							<div>
								<input type="radio" id="radio_payment_2" name="regular_radio" class="regular_radio" checked>
								<label for="radio_payment_2">paypal</label>
								<div class="visa payment_option"><a href="#"><img src="{% static 'wish/images/visa.jpg' %}" alt=""></a></div>
								<div class="master payment_option"><a href="#"><img src="{% static 'wish/images/master.jpg' %}" alt=""></a></div>
							</div>
							<button class="cart_total_button">place order</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}


{% block js %}
<script src="{% static 'wish/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'wish/styles/bootstrap4/popper.js' %}"></script>
<script src="{% static 'wish/styles/bootstrap4/bootstrap.min.js' %}"></script>
<script src="{% static 'wish/plugins/easing/easing.js' %}"></script>
<script src="{% static 'wish/plugins/parallax-js-master/parallax.min.js' %}"></script>
<script src="{% static 'wish/js/checkout_custom.js' %}"></script>
{% endblock %}
